
<form asp-action="Student">
    <label>Gioi Tinh</label>
    <input type="text" name="Gioi Tinh">
    <label>Chieu Cao</label>
    <input type="text" name="Chieu Cao">
    <label>can nang</label>
    <input type="submit" value="Gửi dữ liệu">
</form>

<h1>@ViewBag.Message</h1>
<h>@TempData["message"]</h